* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.navbar{
    display: flex;
    background-color: white;
    color: black;
    height: 70px;
    justify-content: space-between;
} 

.navbar h1 {
    /* color: black; */
    margin-left: 80px;
    margin-top: 20px;
}

.navbar ul {
    display: flex;
    margin-left: 30px;
}


ul li {
    margin-left: 20px;
    list-style: none;
    padding: 10px;
    color: black;
    margin-top: 10px;

}
ul li:hover {
   color: orangered;
   cursor: pointer;

}

.main-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
    box-sizing: border-box;
    text-align: center;
    
}
.main-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(syda_0242392.jpg);
    background-size: cover;
    /* background-position: center; */
    filter: blur(4px); 
    z-index: -10; 
}



h2, h3 {
    margin: 0 0 10px;

}
.main-section h2{
    color: rgb(202, 43, 96);
    font-weight: bold;
    font-size: 2rem;
}
h3{
    color: gray;
    font-size: 1.7rem;
}
.btn {
    margin-top: 20px; 
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 50vh;
    width: 100%;
    margin-top: 50px; 
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.circle {
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.txt {
    margin-top: 20px; 
    color: black; 
    text-align: center;
}

/* .txt h1, .txt p {
    margin: 0;
} */

.txt h1 {
    font-size: 1.2rem;
}

.txt p {
    font-size: 0.8rem;
}

hr {
    border: 0;
    height: 2px;
    background-color: rgb(206, 200, 200);
    width: 80%;
}

.bottom-section {
    margin-left: 100px;
}

.card-container {
    display: flex;
    gap: 20px; 
    margin-top: 15px;
    font-size: 0.8rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px; 
}

.card img {
    width: 330px;
    height: 210px;
    margin-bottom: 15px; 
    margin-left: 70px;
}

.card-text {
    text-align: center; 
    margin-left: 20px;
}

.card-text h1 {
    font-size: 1rem;
}
.card2 img{
    width: 330px;
    height: 220px;
    margin-bottom: 15px; 
    margin-left: 143px; 
}
.card3 img{
    width: 330px;
    height: 210px;
    margin-bottom: 15px; 
    margin-left: 50px;
}
.card2-text h1{
    text-align: center;
    margin-left: 100px;
    font-size: 1rem;

}
.card2-text{
    margin-left: 20px;

}
.card2-text p{
   margin-left: 150px;

}
.card3-text h1{
    text-align: center;
    margin-left: 100px;
    font-size: 1rem;
}
.card3-text p {
 margin-left: 120px;
}




